@using Memos.Models.ViewModels
@model UsersViewModel
@{
    ViewBag.Title = "Usuários";
}
<div class="col-xs-12">
    <h3>Usuários cadastrados:</h3>
    @foreach (var User in @Model.Users) {
        <div class="card">
            <div class="card-header">Usuário #@User.id</div>
            <div class="card-body">
                <h4 class="card-title">@User.firstName @User.lastName</h4>
            </div>
        </div><br />
    }
        
    
    <!--br />
    <div class="card">
        <div class="card-header">
            Laboratórios
        </div>
        <div class="card-body">
            <h4 class="card-title">Requisição de Software</h4>
            <p class="card-text">Solicite a instalação de um determinado software para computadores do laboratório.</p>
            <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Salas
        </div>
        <div class="card-body">
            <h4 class="card-title">Materiais Didáticos</h4>
            <p class="card-text">Solicite materiais didáticos para o suporte.</p>
            <a href="#" class="btn btn-primary">Cadastrar</a>
        </div>
    </div-->
</div>