<div class="col-xs-12">
    <div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">Ticket 1</h4>
            <p class="card-text">Instalação do Ubuntu Server no laboratório B9.</p>
            <span class="badge badge-secondary">New</span>
        </div>
    </div>
    <br />
    <div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">Ticket 2</h4>
            <p class="card-text">Computador X15 da sala B21 não inicializa.</p>
            <span class="badge badge-primary">Em Andamento</span>
        </div>
    </div>
    <br />
    <div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">Ticket 3</h4>
            <p class="card-text">Fios expostos na sala B9.</p>
            <span class="badge badge-info">Agendado</span>
        </div>
    </div>
    <br />
    <div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">Ticket 4</h4>
            <p class="card-text">Laboratórios do Bloco C não tem acesso à internet.</p>
            <span class="badge badge-danger">Cancelado</span>
        </div>
    </div>
</div>